# **Lab: Exploring the Dataset**

## Introduction
Data exploration is the initial phase of data analysis where we aim to understand the data's characteristics, identify patterns, and uncover potential insights. It is a crucial step that helps us make informed decisions about subsequent analysis.

## Objectives
After completing this lab, you will be able to:
-   Summarize the key characteristics of a dataset.
-   Identify different data types commonly used in data analysis.

## Load the dataset

Import the required libraries.

In [1]:
import pandas as pd

The dataset is available on the IBM Cloud at the below url.

In [11]:
# dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

Load the data available at dataset_url into a dataframe.

In [12]:
## Write your code here
df = pd.read_csv(dataset_url)

## Explore the dataset

It is a good idea to print the top 5 rows of the dataset to get a feel of how the dataset will look.

Display the top 5 rows and columns from your dataset.

In [13]:
## Write your code here
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
2,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
3,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
4,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy

## Find out the number of rows and columns

Start by exploring the numbers of rows and columns of data in the dataset.

Print the number of rows in the dataset.

In [14]:
## Write your code here
len(df)

11552

Print the number of columns in the dataset.

In [15]:
## Write your code here
len(df.columns)

85

## Identify the data types of each column

Explore the dataset and identify the data types of each column.

Print the datatype of all columns.

In [16]:
## Write your code here
df.dtypes

Respondent       int64
MainBranch      object
Hobbyist        object
OpenSourcer     object
OpenSource      object
                 ...
Sexuality       object
Ethnicity       object
Dependents      object
SurveyLength    object
SurveyEase      object
Length: 85, dtype: object

Print the mean age of the survey participants.

In [17]:
## Write your code here
df["Age"].mean()

# Map age ranges to approximate numeric ages (midpoints)
# age_map = {
#     "Under 18 years old": 16,
#     "18-24 years old": 21,
#     "25-34 years old": 29.5,
#     "35-44 years old": 39.5,
#     "45-54 years old": 49.5,
#     "55-64 years old": 59.5,
#     "65 years or older": 70
# }

# # Apply mapping
# df["Age_numeric"] = df["Age"].map(age_map)

# # Drop rows with missing (unmapped) values
# df_clean = df.dropna(subset=["Age_numeric"])

# # Calculate mean
# mean_age = df_clean["Age_numeric"].mean()
# print("Approximate mean age of survey participants:", mean_age)

np.float64(30.77239449133718)

The dataset is the result of a world wide survey. Print how many unique countries are there in the Country column.

In [18]:
## Write your code here
df["Country"].nunique()
#df["Country"].unique() #list of countries

135

Copyright ©  IBM Corporation. All rights reserved.